openh323buildopts.h
plugin-config.h
speex_config_types.h
config.log
config.cache
config.status
Makefile
openh323u.mak
h323plus_cfg.dxy
lib
obj_*_*_*_s
obj_*_*_*_d_s
obj_*_*_*
Release
Debug
autom4te.cache
cov-int
*.proj
*.save
*.layout

